<div class="main__toolbar text-md-left">
  <h1 class="main__toolbar__heading" data-fittext="1" translate>main.toolbar.heading</h1>
  <div class="main__toolbar__var">
    <i class="fa fa-users"></i>
    <span class="hidden-sm-down ml-1">{{ $ctrl.game.var('sources_contacted').label }}</span>
    <div class="main__toolbar__var__digit">
      {{ $ctrl.game.var('sources_contacted').value | number }}
    </div>
  </div>
  <div class="main__toolbar__var" ng-repeat="risk in $ctrl.game.publicRisks">
    <i class="fa fa-{{ risk.icon }}"></i>
    <span class="hidden-sm-down ml-1">{{ risk.label }}</span>
    <div class="main__toolbar__var__risk container-fluid">
      <div class="row">
        <div ng-repeat="value in risk.cases"
             class="main__toolbar__var__risk__case col"
             ng-class="{'main__toolbar__var__risk__case--active': value <= risk.value}">
        </div>
      </div>
    </div>
  </div>
  <div class="main__toolbar__link mt-4" ui-sref-active-eq="active">
    <a ui-sref="main">
      <i class="fa fa-comments-o fa-fw"></i>
      <span class="hidden-sm-down ml-1" translate>main.toolbar.links.chats</span>
    </a>
  </div>
  <div class="main__toolbar__link" ui-sref-active-eq="active">
    <a ui-sref="main.hints">
      <i class="fa fa-envelope fa-fw"></i>
      <span class="hidden-sm-down ml-1" translate>main.toolbar.links.hints</span>
    </a>
  </div>
  <div class="main__toolbar__link" ui-sref-active="active">
    <a ui-sref="main.page({slug: 'about'})">
      <i class="fa fa-info fa-fw"></i>
      <span class="hidden-sm-down ml-1" translate>main.toolbar.links.about</span>
    </a>
  </div>

  <div class="main__toolbar__share">
    <div class="main__toolbar__share__label">
      <span data-fittext="1" translate>main.toolbar.share.label</span>
    </div>
    <a class="main__toolbar__share__button" href="mailto:?subject={{'app.title' | translate}}&amp;body={{'app.description' | translate}}\n\n{{'app.url' | translate}}">
      <i class="fa fa-solid fa-envelope"></i>
      <span class="sr-only" translate>main.toolbar.share.email</span>
    </a>
    <a class="main__toolbar__share__button" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?title={{'app.title' | translate}}&source=AlgorithmWatch&url={{'app.url' | translate}}">
      <i class="fa fa-brands fa-linkedin"></i>
      <span class="sr-only" translate>main.toolbar.share.linkedin</span>
    </a>
    <a class="main__toolbar__share__button" href="https://api.whatsapp.com/send?phone=&text={{'app.title' | translate}}%20{{'app.url' | translate}}">
      <i class="fa fa-brands fa-whatsapp"></i>
      <span class="sr-only" translate>main.toolbar.share.whatsapp</span>
    </a>
  </div>
</div>
